
/*Menu opmaak*/
*{transition:all 0.3s ease-in-out;}

.container{
  clear:both;
  overflow:auto;
}

nav{float:right;}

.logo img{float:left;}

ul li{
  display: inline-block; padding:6px;
  font-size:17px; font-family:raleway;
}

ul li:hover{
  color:orange;
  
}


/*Table opmaak van add_movie.html*/

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}


/* Seat overview styling */
#cinema-room {
    display: inline-block;
    width: 350px;
    height: 250px;
    border: 2px solid #000;
}

.row {
    width: 100%;
    height: 10px;
    position: relative;
}

.seat {
    width: 10px;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: blue;
}
.seat.luxery {
    background-color: orange;
}
.seat.vip {
    background-color: red;
}
